# AbuseIPDB - https://www.abuseipdb.com/register
ABUSEIPDB_API_KEY=your_key_here

# Shodan - https://account.shodan.io/register
SHODAN_API_KEY=your_key_here

# VirusTotal - https://www.virustotal.com/gui/join-us (free: 500/day, 4/min)
VIRUSTOTAL_API_KEY=your_key_here

# AlienVault OTX - https://otx.alienvault.com (free)
OTX_API_KEY=your_key_here
